<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Rock Gym</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <nav>
        <img src="images/gymlogo.jpeg" width="100" height="100">
       
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/allmembers">All Members</a></li>
            <li><a href="pending">Pending Dues</a></li>
            <li><a href="upcoming">Upcoming Dues</a></li>
        </ul>   
    </nav>
    <div class="container">
        <div class="text">
            <h1 class="fit">THE ROCK GYM</h1>
            <p>Some people want it to happen, some wish it would happen,<br> others make it happen</p>
        </div>
    </div>
</body>
</html>